*{
  margin: 0;
  padding: 0;
}
div{
  width: 100vw;
  height: 100vh;
  background-color: rgb(105, 105, 53);
}
div{

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
button{
  padding: 10px 15px;
  background-color: rgb(77, 8, 8);
  border: none;
  color: aliceblue;
  font-size: larger;
  border-radius: 50%;
  flex-direction: column;
}
button:hover{
  background-color: rgb(5, 51, 5);
  cursor: pointer;
}